<!--users-header.ejs-->
<header id="stie-header" class="site-header">
  <div class="inner region">
    <div class="logo">
      <a href="/"><img src='/images/site_logo.png' /></a>
    </div>
    <div class="title">
      <%= title %>
    </div>
    <div class="log-out tooltip">
      <a href="/users/logout"><img src="/images/logout.png" /></a>
      <span class="tooltiptext">ចេញ​ពី​ទំព័រ​គ្រប់​គ្រង</span>
    </div>
  </div>
</header>
