<!--users-main-content.ejs-->
<div class="content">
  <div class="posting">
    <div id="editor"></div>
    
    <script>
      
      CKEDITOR.replace( 'editor', {
        height:280,
      });
      
     
    </script> 
  </div><!--posting-->
</div><!--content-->
<!--
<div id="ckeditor-title">
  <p>ចំណងជើង</p>
  </div>
  
  <div id="ckeditor-body">
  <p>តួ​អត្ថបទ</p>
  </div>
  
  <div id="category">
  <p>ជំពូក&nbsp;</p>
  </div>
  
  <div id="timestamp">
  <p>កាលបរិច្ឆេទ&nbsp;</p>
  </div>
-->