<!--users.ejs-->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/users-style.css' />
    <link href="https://fonts.googleapis.com/css?family=Angkor|Battambang|Bayon|Bokor|Chenla|Content|Dangrek|Fasthand|Freehand|Hanuman|Kantumruy|Kdam+Thmor|Khmer|Koulen|Metal|Moul|Moulpali|Nokora|Odor+Mean+Chey|Preahvihear|Siemreap|Suwannaphum|Taprom&display=swap" rel="stylesheet">
    <link rel="icon" href="https://3.bp.blogspot.com/-P2DOhVx8mTw/Xko-i2asuHI/AAAAAAABlWc/O0vC3539nj8wOrgfjxCPoF9TEWb47rMxgCLcBGAsYHQ/s1600/download.png">
    <script src="/javascripts/ckeditor/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <%- include('users-header.ejs') %>
    <%- include('users-main.ejs') %>
    <%- include('users-footer.ejs') %>
  </body>
</html>