<!--users-main-sidebar.ejs-->
<div class="sidebar">
  <div class="title">
    <a href="/users/dashboard">ចុះ​​ផ្សាយ</a>
    <a href="/users/dashboard/posts">​បណ្តុំការផ្សាយ</a>
    <a href="/users/dashboard/model">គំរូ​ទិន្នន័យ</a>
  </div>
</div>