<!--users-footer.ejs-->
<footer id="site-footer" class="site-footer">
  <div class="credit region">
    កម្មវិធី​គេហទំព័រ «កំណត់ត្រា​យើង» ត្រូវ​បាន​រៀបចំ​ឡើង​ដោយ​ក្រុមការងារ DEVOpenBlogger
  </div>
</footer>