<!--users-main-sidebar.ejs-->
<div class="sidebar-right">
  <div class="title">

    <style>
      .book{
        margin:0 0 20px;
      }
      
      .book:hover{
        opacity:.7;
      }
    </style>
      <a href="https://devopenblogger.blogspot.com/p/javascript.html" imageanchor="1" >
        <img border="0" src="https://3.bp.blogspot.com/-pHJuvxGdIRw/XIjIn0EJilI/AAAAAAABhl0/vKNEZ38lQHI9gsGforw5eCJfFhIxpmBugCPcBGAYYCw/s1600/Capture.jpg" 
        style="width:100%;border-bottom:1px solid lightgrey;" class="book"/>
      </a>

      <a href="https://devopenblogger.blogspot.com/p/node.html" imageanchor="1" >
        <img border="0" src="https://1.bp.blogspot.com/-YDISa5xA-KY/XKlc0WMZyzI/AAAAAAABiHY/JRDesj767uo9V2oyATqje3xdGZyvKTZbgCPcBGAYYCw/s1600/ADB.jpg" 
        style="width:100%;border:0px solid lightgrey;" class="book" />
      </a>

      <a href="https://devopenblogger.blogspot.com/p/appscript.html" imageanchor="1" >
        <img border="0" src="https://2.bp.blogspot.com/-9Y8RPHUYiZk/XIjD3mmYFTI/AAAAAAABhlQ/IpIoe07qwdsI7ecw6UudiDuQPuGTnxFWgCLcBGAs/s1600/Capture.png" 
        style="width:100%;border:1px solid lightgrey;" class="book" />
      </a>

      <a href="https://devopenblogger.blogspot.com/p/webgl.html" imageanchor="1" >
        <img border="0" src="https://2.bp.blogspot.com/-wT0KxBcfi6A/XIi9xUnRcbI/AAAAAAABhk4/glNgPqDfrUsDsPUN1wd8HKReZ0AE0XUNwCLcBGAs/s1600/Capture.jpg" 
        style="width:100%;border-bottom:1px solid lightgrey;margin-bottom:0;" class="book" />
      </a>
  </div>
</div>